DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE=database
DATABASE_HOST=localhost
DATABASE_PORT=3306
RABBITMQ_HOST=189.189.189.189
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=exchange